<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="Sidebar">

	<a th:href="@{/countryForm}">Country</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>
	<a th:href="@{/userForm}">Add User</a>

</div>












</body>
</html>